/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url("images/cr7_poster3.jpg"); /* Background Image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}

#global-info {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
}

nav {
    text-align: center;
    margin: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav button {
    background-color: #444444;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #888888;
}

main {
    text-align: center;
    padding: 20px;
}

.hidden {
    display: none;
}

#tap-to-earn {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("images/cr7_poster.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid #ffffff;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
    color: transparent;
    cursor: pointer;
}

#tap-to-earn div {
    color: white;
    font-size: 18px;
}

#tap-to-earn:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 1);
}

#rewards button {
    margin-top: 20px;
    background-color: #444444;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
